services:
  web:
    build: .
    container_name: schemax_api
    # Use Gunicorn with Uvicorn workers for production
    command: gunicorn main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: schemax_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
   
    restart: always

volumes:
  postgres_data: